<link rel="stylesheet" href="app.component.css">
<div class="presentation">
  <h1>Apresentação</h1>
  <div class="info">
    <p><strong>Nome:</strong> Márcio Ribeiro Julião</p>
    <p><strong>Objetivo profissional:</strong> Primeira Vaga de emprego</p>
    <p><strong>Hobbies:</strong> Jogar videogames, estudar e ler livros</p>
    <p><strong>Contato linkedin:</strong> Não tenho, pois sou menor de idade</p>
    <p><strong>Github:</strong> <a href="https://github.com/MarcioRJuliao" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="" class="github-icon">https://github.com/MarcioRJuliao</a></p>
  </div>
</div>

<router-outlet></router-outlet>
